<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="TileApiConfiguration" type="OsmSharp.Service.Tiles.Configurations.TileApiConfiguration,
             OsmSharp.Service.Tiles"/>
  </configSections>
  <TileApiConfiguration>
    <instances>
      <!--A simple instance loading raw osm-data from a pbf file.-->
      <!--Check http://localhost:1234/tiles_kempen/16/33639/21863.png after starting for an example-tile.-->
      <add name="kempen" data="kempen.osm.pbf" format="osm-pbf" mapcss="custom.mapcss"/>
    </instances>
  </TileApiConfiguration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
